/* Page background */

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding : 20px 0;
  box-sizing: border-box;

  background: linear-gradient(135deg, #d8f3dc, #95d5b2);

  display: flex;
  justify-content: center;
  align-items: flex-start;
}


/* Login container */

.App {
  background: white;
  padding: 40px;
  width: 340px;
  border-radius: 16px;
  box-shadow: 0 12px 35px rgba(0,0,0,0.15);
  margin-top: 10vh;
}


/* Title */

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #1b4332;
}


/* Inputs */

input {
  width: 100%;
  padding: 10px 12px;
  margin: 10px 0;

  border-radius: 8px;
  border: 1px solid #ccd5ae;

  background-color: #f8fff9;
  color: #1b4332;

  font-size: 14px;

  box-sizing: border-box;

  transition: all 0.2s ease;
}


/* Input focus effect */

input:focus {
  outline: none;
  border-color: #2d6a4f;
  box-shadow: 0 0 0 2px rgba(45,106,79,0.2);
}


/* Placeholder text */

input::placeholder {
  color: #7a8f7d;
}


/* Button */

button {
  width: 100%;
  padding: 11px;
  margin-top: 15px;

  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, #2d6a4f, #40916c);

  color: white;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.25s ease;
}


/* Button hover */

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}


/* Switch login/signup text */

.switch {
  margin-top: 15px;
  text-align: center;

  color: #2d6a4f;

  cursor: pointer;
  font-size: 14px;
}


/* Switch hover */

.switch:hover {
  text-decoration: underline;
}

/* Logo container */

.logo-container {
  position: absolute;
  top: 25px;
  left: 30px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  font-size: 20px;

  color: #1b4332;
}


/* Logo icon */

.logo-icon {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.logo-container:hover {
  opacity: 0.8;
}

.logo-text {
  letter-spacing: 0.5px;
}

button.leave-btn {
  background: #fee2e2 !important; 
  background-image: none !important; 
  color: #dc2626 !important;
  border: 1px solid #f87171 !important;
}

button.leave-btn:hover {
  background: #fca5a5 !important;
  color: #991b1b !important;
}

/* Theme styles */

.theme-green {
  background: linear-gradient(135deg, #d8f3dc, #95d5b2);
}

.theme-blue {
  background: linear-gradient(135deg, #caf0f8, #90e0ef);
}

.theme-sunset {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.theme-warmsand {
  background: linear-gradient(135deg, #f5e6ca, #e8d8b0);
  color: #4a403a;
}

/* button styles */

.theme-blue button {
  background: linear-gradient(135deg, #0077b6, #0096c7);
}

.theme-sunset button {
  background: linear-gradient(135deg, #ff758f, #ff7eb3);
}

.theme-warmsand button {
  background: linear-gradient(135deg, #c2a878, #b08968);
}